<div class="login">
  <div class="header">
    <h1>
      HabitApp
    </h1>
    <h2>
        Ingreso
    </h2>
  </div>
  <div class="container">
    <form [formGroup]="formLogin">
      <div class = "input-container col-md-4">
          Usuario
          <input  class="textbox"
          type="text"
          placeholder="Usuario"
          formControlName="txtUsuario">
      </div>
      <div class = "input-container col-md-4">
          Contraseña
          <input  class="textbox"
          type="password"
          placeholder="***********************"
          formControlName="txtPassword">
      </div>
      <div class="buttonContainer col-md-3">
          <button type="button" (click)="login()" class="button blue-botton"> Ingresar </button>
          <button type="button" (click)="login()" class="button white-botton"> Registrarse </button>
      </div>

  </form>
  </div>
</div>
