<div class="objective">
  <div class="header">
    <h1>
      HabitApp
    </h1>
    <h2>
      Crear objetivo
    </h2>
  </div>
  <div class="container">
    <form [formGroup]="formNewObjective">
      <div class="row obj-row">
        <div class="input-container col-md-6">
          Imagén de referencia
          <input class="draganddrop"
          type="text"
          placeholder="Escoge una imagén o arrastrala aquí" required="true" value="" readonly="true">
        </div>
      </div>
      <div class="row obj-row">
        <div class="input-container col-md-6">
          Título
          <input  class="textbox"
          type="text"
          placeholder=""
          formControlName="txtTitle"
          [ngClass]="f['txtTitle'].valid?'is-valid':'is-invalid'">
          <div i18n class="invalid-feedback" *ngIf="!f['txtTitle'].valid">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="row obj-row">
        <div class="input-container col-md-6">
          Descripción
          <input  class="textbox"
          type="text"
          placeholder=""
          formControlName="txtDescription"
          [ngClass]="f['txtDescription'].valid?'is-valid':'is-invalid'">
          <div i18n class="invalid-feedback" *ngIf="!f['txtDescription'].valid">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="row obj-row"></div>
      <div class="row obj-row">
        <div class="col-md-3 buttonContainer">
          <button type="button" (click)="create()" class="button blue-botton"> Aceptar </button>
        </div>
        <div class="col-md-3 buttonContainer">
          <button type="button" (click)="cancel()" class="button red-botton"> Cancelar </button>
        </div>
      </div>

    </form>
  </div>
</div>
