<div class="habit">
  <nav class="header navbar navbar-light">
    <div class="row" style="margin: 0px;">
      <div class="col-md-11">
        <h1>
          HabitApp
        </h1>
        <h2>
          Hacer ejercicio
        </h2>
        <h3>
          Tareas o hábitos
        </h3>
      </div>
      <div class="col-md-1" style="justify-content: center;
      display: flex;
      flex-direction: column;
      width: 80px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="menu" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>


  </nav>
  <div class="collapse" id="menu">
    <div class="menu">
      <h3 style="padding: 50px; margin-left: 0px;">
        Menú
      </h3>
      <hr style="width: 100%;">
      <h4><a href="" routerLink="/objectiveList/false">Objetivos</a></h4>
      <h4><a href="" routerLink="/habitList/false">Tareas</a></h4>
      <h4><a href="" routerLink="">Cerrar sesión</a></h4>
    </div>
  </div>
  <div *ngIf="isEmpty" class="container">
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-8 card-empty">
        <strong>
          ¿Sabías qué?
        </strong>
        <p>
          Dormir las horas suficientes reduce la frecuencia de enfermedades...
        </p>
      </div>
    </div>
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-4" style="justify-content: center;">
        <p style="justify-content: center; display: flex;color: #888;">
          Aún no tienes tareas o hábitos registrados para este objetivo
        </p>
      </div>
    </div>
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-3 buttonContainer">
        <button type="button" (click)="newHabit()" class="button blue-botton"> Agregar tareas </button>
      </div>
      <div class="col-md-3 buttonContainer">
        <button type="button" (click)="cancel()" class="button red-botton"> Volver </button>
      </div>
    </div>
  </div>
  <div *ngIf="!isEmpty" class="container">
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="grid-container">
        <div class="row main-row">
          <div class="col-md-2 cell">Nombre</div>
          <div class="col-md-4 cell">Días</div>
          <div class="col-md-3 cell">Horario</div>
          <div class="col-md-3 cell">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2 cell">Tarea 1</div>
          <div class="col-md-4 cell"> Lunes a Viernes</div>
          <div class="col-md-3 cell"> 7 am</div>
          <div class="col-md-3 cell">
            <button type="button" (click)="true" class="button blue-botton"> Editar </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2 cell">Tarea 2 </div>
          <div class="col-md-4 cell">Todos los días</div>
          <div class="col-md-3 cell">8 am</div>
          <div class="col-md-3 cell">
            <button type="button" (click)="true" class="button blue-botton"> Editar </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2 cell">Tarea 3 </div>
          <div class="col-md-4 cell">Lunes, miercoles y viernes</div>
          <div class="col-md-3 cell">12 pm </div>
          <div class="col-md-3 cell">
            <button type="button" (click)="true" class="button blue-botton"> Editar </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2 cell">Tarea 4 </div>
          <div class="col-md-4 cell">Sábado</div>
          <div class="col-md-3 cell">8 pm</div>
          <div class="col-md-3 cell">
            <button type="button" (click)="true" class="button blue-botton"> Editar </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-3 buttonContainer">
        <button type="button" (click)="newHabit()" class="button blue-botton"> Agregar tareas </button>
      </div>
      <div class="col-md-3 buttonContainer">
        <button type="button" (click)="cancel()" class="button red-botton"> Volver </button>
      </div>
    </div>
  </div>
</div>
