<div class="objective">
  <div class="header">
    <h1>
      HabitApp
    </h1>
    <h2>
      Objetivos
    </h2>
  </div>
  <div *ngIf="isEmpty" class="container">
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-8 card-empty">
        <strong>
          ¿Sabías qué?
        </strong>
        <p>
          Tomar de 6 a 8 vasos de agua al día trae diversos beneficios al organismo...
        </p>
      </div>
    </div>
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-4" style="justify-content: center;">
        <p style="justify-content: center; display: flex;color: #888;">
          Aún no tienes objetivos
        </p>
      </div>
    </div>
    <div class="row"></div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-3 buttonContainer">
        <button type="button" (click)="true" class="button blue-botton"> Agregar nuevos objetivos </button>
      </div>
    </div>
  </div>
  <div *ngIf="!isEmpty" class="container">
    <div class="row" style="justify-content: center;">
      <div class="card col-md-4">
        <div class="card-text">
          Hacer ejercicio
        </div>
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-md-3 buttonContainer">
        <button type="button" (click)="true" class="button blue-botton"> Agregar nuevos objetivos </button>
      </div>
    </div>
  </div>
</div>
